.category {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 30px 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.imageContainer {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: var(--second-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.text {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: var(--text-color);
}