.today {
  width: 100%;
  min-height: fit-content;
  padding: 20px;
  background-color: var(--main-color);
}
.title h2 {
  font-size: 40px;
  color: var(--text-color);
}
.contentContaienr {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}