.hero {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff, #ededed, #f7f7f7cc);
}
.text p {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--text2-color);
}
.text h3 {
  font-size: 90px;
  text-transform: capitalize;
  color: var(--text-color);
}

@media(max-width: 767px) {
  .text p {
    font-size: 20px;
  }
  .text h3 {
    font-size: 40px;
  }
}