* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald";
}
:root {
  --main-color: #ffffff;
  --second-color: #f7f7f7cc;
  --text-color: #333333;
  --text2-color: #555555;
  --btns-color: #1e3a8a;
  --hover-color: #3b82f6;
}
html {
  scroll-behavior: smooth;
}
.card {
  width: 250px;
  height: 400px;
  background-color: #acacaccc;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.cardHead {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 8px 8px 0 0;
  margin-top: 10px;
}
.cardBody {
  width: 100%;
  height: calc(100% - 270px);
  background-color: white;
  border-radius: 0 0 8px 8px;
  padding: 10px;
}
.top p {
  height: 65px;
  color: var(--text-color);
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.price strong {
  color: var(--text-color);
}
.price button {
  width: 35px;
  height: 35px;
  background-color: var(--btns-color);
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.price button:hover {
  background-color: var(--hover-color);
}

@media (max-width: 767px) {
  .card {
    width: 250px;
  }
  .cardHead {
    width: 200px;
  }
}
