.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.left h2 {
  font-family: "Playwrite No";
  color: var(--text-color);
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.headerLinks {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  color: var(--text-color);
  transition: 0.3s;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.headerIcons {
  width: 35px;
  height: 35px;
  text-decoration: none;
  font-size: 25px;
  color: var(--text-color);
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.login {
  text-transform: uppercase;
  width: 100px;
  height: 40px;
  text-decoration: none;
  font-size: 25px;
  background-color: var(--btns-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: 0.3s;
}
.login:hover {
  background-color: var(--hover-color);
}
.rightMobile {
  display: none;
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffffff;
  padding: 20px;
  position: absolute;
  top: 80px;
  right: 0;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 50;
}
.menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menu a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .middle {
    display: none;
  }
  .right {
    display: none;
  }
  .rightMobile {
    display: block;
  }
  .rightMobile button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    color: var(--text-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}
