.flashSales {
  width: 100%;
  height: fit-content;
  background-color: var(--second-color);
  padding: 20px;
}
.title {
  width: 100%;
}
.title h2 {
  font-size: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.title h2 span:first-child {
  width: 50px;
  height: 50px;
  background-color: var(--text-color);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h2 span:last-child {
  color: var(--text-color);
}
.content {
  width: 100%;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .title h2 {
    font-size: 30px;
  }
  .title h2 span:first-child {
    width: 40px;
    height: 40px;
  }
}
